* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper-parent {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 200px 1fr;
}
.sidebar {
    grid-row: 1 / 3;
}
.menu {
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;

}
.menu--search-bar {
    grid: 1 / 1 / 2 / 2;
}
.menu--profile {
    grid: 2 / 1 / 3 / 2;
}
.menu--mini-profile {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.menu--buttons {
    grid: 2 / 2 / 3 / 3;
}
.menu--buttons > button {
    appearance: none;
    padding: .5rem .9rem;
    border: none;
    border-radius: 25px;
    margin: .1rem;
    background-color: rgb(30, 146, 182);
    color: white;
}
.menu--buttons > button:hover, .menu--buttons > button:active {
    background-color: rgb(12, 93, 117);
}
.main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cards-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: .5rem;
}
.card {
    padding: .5rem;
}